// Brand colors
$primary-color: #2f3a46;
$background-color: #1f2d3b;
$accent: #74d36c;

$text-color: #fff;
$sub-text-color:#5b6066;
// End Brand colors

// Heights
$header-height: 10vh;
// End Heights
